In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import glob

In [14]:
df = pd.read_csv('N1.csv')

for i in range(9):
    df

1
2
3
4
5
6
7
8
9

In [18]:
all_files = glob.glob("*.csv")
df = pd.concat((pd.read_csv(f) for f in all_files))
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BFA,1XBH,1XBD,1XBA,BFCH,BFCD,BFCA,1XBCH,1XBCD,1XBCA
0,N1,11/08/17,Den Haag,Utrecht,0,3,A,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N1,12/08/17,Heracles,Ajax,2,1,H,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N1,12/08/17,PSV Eindhoven,AZ Alkmaar,3,2,H,1,1,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N1,12/08/17,Vitesse,NAC Breda,4,1,H,3,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N1,12/08/17,VVV Venlo,Sparta Rotterdam,3,0,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,N1,18/05/2025,Heracles,Nijmegen,1,2,A,0,0,D,...,2.55,2.68,3.58,2.48,2.25,3.5,3.00,2.38,3.57,3.02
302,N1,18/05/2025,NAC Breda,Willem II,1,1,D,1,1,D,...,4.20,1.92,3.55,4.03,1.73,3.9,4.50,1.75,3.91,4.89
303,N1,18/05/2025,Sparta Rotterdam,PSV Eindhoven,1,3,A,0,1,A,...,1.22,8.80,6.60,1.27,9.00,6.5,1.25,9.74,6.17,1.30
304,N1,18/05/2025,Waalwijk,Go Ahead Eagles,5,3,H,1,1,D,...,2.15,2.86,4.05,2.19,2.45,3.9,2.50,2.61,4.14,2.46
305,N1,18/05/2025,Zwolle,Groningen,2,0,H,1,0,H,...,2.80,2.32,3.74,2.82,2.05,3.5,3.30,2.03,3.66,3.76

In [21]:
# all column names

pd.set_option('display.max_columns', None)
print("All available features:", df.columns.tolist())

All available features: ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA', 'Time', 'BFDH', 'BFDD', 'BFDA', 'BMGMH', 'BMGMD', 'BMGMA', 'BVH', 'BVD', 'BVA', 'CLH', 'CLD', 'CLA', 'MaxH', 'MaxD', 'MaxA', 'AvgH', 'AvgD', 'AvgA', 'BFEH', 'BFED', 'BFEA', 'B365>2.5', 'B365<2.5', 'P>2.5', 'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'BFE>2.5', 'BFE<2.5', 'AHh', 'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH', 'AvgAHA', 'BFEAHH', 'BFEAHA', 'B365CH', 'B365CD', 'B365CA', 'BFDCH', 'BFDCD', 'BFDCA', 'BMGMCH', 'BMGMCD', 'BMGMCA', 'BVCH', 'BVCD', 'BVCA', 'BWCH', 'BWCD', 'BWCA', 'CLCH', 'CLCD', 'CLCA', 'LBCH', 'LBCD', 'LBCA', 'MaxCH', 'MaxCD', 'MaxCA', 'AvgCH', 'AvgCD', 'AvgCA', 'BFECH', 'BFECD', 'BFECA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5', 'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'BFEC>2.5', 'BFEC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH', 'AvgCAHA', 'BFECAHH', 'BFECAHA', 'IWCH', 'IWCD', 'IWCA', 'WHCH', 'WHCD', 'WHCA', 'VCCH', 'VCCD', 'VCCA', 'BFH', 'BFD', 'BFA', '1XBH', '1XBD', '1XBA', 'BFCH', 'BFCD', 'BFCA', '1XBCH', '1XBCD', '1XBCA']

In [22]:
#Get the sum of missing values per column
nan_counts = df.isna().sum()
nan_counts = nan_counts[nan_counts > 0].sort_values(ascending=False)
print(nan_counts)

BVH      2379
BVD      2379
BVA      2379
BMGMH    2374
BFDH     2374
         ...
PSCD       21
PSCA       21
B365D       1
B365A       1
B365H       1
Length: 157, dtype: int64

In [24]:
# 1. Filter the dataframe to get only rows with at least one missing value
rows_with_nan = df[df.isna().any(axis=1)]

# 2. Print the count
print(f"Total rows with missing values: {len(rows_with_nan)} out of {len(df)}")

# 3. Show the first 5 and last 5 examples
# We transpose (.T) the head so you can actually read the columns
display(rows_with_nan.head().T) 
display(rows_with_nan.tail().T)

Total rows with missing values: 2526 out of 2526

                 0         1              2          3                 4
Div             N1        N1             N1         N1                N1
Date      11/08/17  12/08/17       12/08/17   12/08/17          12/08/17
HomeTeam  Den Haag  Heracles  PSV Eindhoven    Vitesse         VVV Venlo
AwayTeam   Utrecht      Ajax     AZ Alkmaar  NAC Breda  Sparta Rotterdam
FTHG             0         2              3          4                 3
...            ...       ...            ...        ...               ...
BFCD           NaN       NaN            NaN        NaN               NaN
BFCA           NaN       NaN            NaN        NaN               NaN
1XBCH          NaN       NaN            NaN        NaN               NaN
1XBCD          NaN       NaN            NaN        NaN               NaN
1XBCA          NaN       NaN            NaN        NaN               NaN

[179 rows x 5 columns]

,301,302,303,304,305
Div,N1,N1,N1,N1,N1
Date,18/05/2025,18/05/2025,18/05/2025,18/05/2025,18/05/2025
HomeTeam,Heracles,NAC Breda,Sparta Rotterdam,Waalwijk,Zwolle
AwayTeam,Nijmegen,Willem II,PSV Eindhoven,Go Ahead Eagles,Groningen
FTHG,1,1,1,5,2
...,...,...,...,...,...
BFCD,3.5,3.9,6.5,3.9,3.5
BFCA,3.0,4.5,1.25,2.5,3.3
1XBCH,2.38,1.75,9.74,2.61,2.03
1XBCD,3.57,3.91,6.17,4.14,3.66
1XBCA,3.02,4.89,1.3,2.46,3.76

In [27]:
target_cols = [
    'Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'Referee',
    
    # Full Time Results
    'FTHG', 'FTAG', 'FTR',
    
    # Half Time Results
    'HTHG', 'HTAG', 'HTR',
    
    # Match Stats
    'HS', 'AS',   # Shots
    'HST', 'AST', # Shots on Target
    'HC', 'AC',   # Corners
    'HF', 'AF',   # Fouls Committed
    'HFKC', 'AFKC', # Free Kicks Conceded
    'HO', 'AO',   # Offsides
    'HY', 'AY',   # Yellow Cards
    'HBP', 'ABP', # Booking Points
    
    # Betting Odds 
    'B365H', 'B365D', 'B365A',  # Primary
    'AvgH', 'AvgD', 'AvgA'      # Backup
]

available_cols = df.columns.intersection(target_cols)
df_clean = df[available_cols].copy()

if 'HBP' not in df_clean.columns and 'HY' in df_clean.columns and 'HR' in df_clean.columns:
    print("Generating Home Booking Points (HBP) from raw cards...")
    df_clean['HBP'] = (df_clean['HY'] * 10) + (df_clean['HR'] * 25)

if 'ABP' not in df_clean.columns and 'AY' in df_clean.columns and 'AR' in df_clean.columns:
    print("Generating Away Booking Points (ABP) from raw cards...")
    df_clean['ABP'] = (df_clean['AY'] * 10) + (df_clean['AR'] * 25)

if 'AvgH' in df_clean.columns:
    df_clean['B365H'] = df_clean['B365H'].fillna(df_clean['AvgH'])
    df_clean['B365D'] = df_clean['B365D'].fillna(df_clean['AvgD'])
    df_clean['B365A'] = df_clean['B365A'].fillna(df_clean['AvgA'])

df_clean = df_clean.dropna(subset=['FTHG', 'FTAG', 'HST', 'AST'])

df_clean['Date'] = pd.to_datetime(df_clean['Date'], dayfirst=True)
df_clean = df_clean.sort_values('Date')

print(f"Final Cleaned Data: {len(df_clean)} matches")
print("Columns kept:", list(df_clean.columns))
df_clean

Final Cleaned Data: 2526 matches
Columns kept: ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'B365H', 'B365D', 'B365A', 'Time', 'AvgH', 'AvgD', 'AvgA']

/tmp/ipykernel_21700/2186360377.py:43: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_clean['Date'] = pd.to_datetime(df_clean['Date'], dayfirst=True)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,B365H,B365D,B365A,Time,AvgH,AvgD,AvgA
0,N1,2017-08-11,Den Haag,Utrecht,0,3,A,0,1,A,17,16,6,8,11,12,8,5,2,1,3.60,3.40,2.05,NaN,NaN,NaN,NaN
1,N1,2017-08-12,Heracles,Ajax,2,1,H,0,0,D,14,29,8,11,15,16,3,8,1,1,7.00,4.33,1.44,NaN,NaN,NaN,NaN
2,N1,2017-08-12,PSV Eindhoven,AZ Alkmaar,3,2,H,1,1,D,25,15,9,8,10,16,10,7,0,3,1.40,4.75,7.00,NaN,NaN,NaN,NaN
3,N1,2017-08-12,Vitesse,NAC Breda,4,1,H,3,0,H,16,5,6,4,7,12,9,3,0,1,1.53,4.20,5.75,NaN,NaN,NaN,NaN
4,N1,2017-08-12,VVV Venlo,Sparta Rotterdam,3,0,H,1,0,H,12,8,6,2,15,15,3,5,0,1,2.25,3.30,3.20,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,N1,2025-12-21,Utrecht,PSV Eindhoven,1,2,A,1,0,H,17,14,3,8,7,14,2,12,3,5,4.50,4.10,1.70,11:15,4.33,4.14,1.68
148,N1,2025-12-21,Feyenoord,Twente,1,1,D,0,1,A,10,29,4,11,15,11,7,12,2,0,1.70,4.20,4.50,13:30,1.68,4.01,4.48
149,N1,2025-12-21,Go Ahead Eagles,Groningen,1,1,D,1,0,H,8,14,3,3,10,13,1,8,2,1,3.30,3.50,2.15,13:30,3.14,3.47,2.15
150,N1,2025-12-21,For Sittard,AZ Alkmaar,4,3,H,2,2,D,15,21,6,9,18,11,5,8,3,0,4.20,3.80,1.80,15:45,3.89,3.83,1.81
151,N1,2025-12-21,Volendam,Sparta Rotterdam,0,1,A,0,0,D,12,23,5,10,14,6,6,8,3,2,2.80,3.75,2.35,15:45,2.74,3.59,2.34

In [28]:
# 1. Check for missing values in the cleaned dataframe
nan_status = df_clean.isna().sum()

# 2. Filter to show ONLY columns with missing data
nan_status = nan_status[nan_status > 0].sort_values(ascending=False)

if len(nan_status) > 0:
    print("Columns with missing values:")
    print(nan_status)
else:
    print("No missing values! The dataset is 100% clean.")

Columns with missing values:
Time    612
AvgH    612
AvgD    612
AvgA    612
dtype: int64

In [30]:
# 1. Identify rows with missing data
nan_rows = df_clean[df_clean.isna().any(axis=1)]

print(f"Total rows with missing values: {len(nan_rows)}")

Total rows with missing values: 612